---
version: '3.8'
networks:
  example.com:
    name: "example.com"
    driver: bridge
services:
  {% for i in range(num_of_keepers) %}
  keeper0{{i+1}}:
    image: clickhouse/clickhouse-keeper:latest
    ports:
      - "{{9181+i}}:9181"  
    container_name: keeper0{{i+1}}
    hostname: keeper0{{i+1}}
    networks:
      example.com: {}
    volumes:
      - ./config/keeper0{{i+1}}/keeper.xml:/etc/clickhouse-keeper/keeper_config.xml
      - ./data/keeper0{{i+1}}:/var/lib/clickhouse
      - ./log/keeper0{{i+1}}:/var/log/clickhouse-keeper

  {% endfor %}

  {% for i in range(num_of_chnodes) %}
  clickhouse0{{i+1}}:
    image: clickhouse/clickhouse-server:head-alpine
    hostname: clickhouse0{{i+1}}
    container_name: clickhouse0{{i+1}}
    cpus: 0.7
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "{{9001+i}}:9000"
    networks:
      example.com: {}
    volumes:
      - ./config/clickhouse0{{i+1}}:/etc/clickhouse-server/config.d
      - ./config/users.xml:/etc/clickhouse-server/users.d/users.xml
      - ./data/clickhouse0{{i+1}}:/var/lib/clickhouse
      - ./log/clickhouse0{{i+1}}:/var/log/clickhouse-server

  {% endfor %}
