<clickhouse>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>

    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>

    <display_name>clickhouse0${node}</display_name>
    <listen_host>0.0.0.0</listen_host>
    <https_port>8443</https_port>
    <tcp_port_secure>9440</tcp_port_secure>
    <interserver_https_host>clickhouse0${node}</interserver_https_host>
    <interserver_https_port>9010</interserver_https_port>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
    <keeper_server>
        <tcp_port_secure>9281</tcp_port_secure>
        <server_id>${node}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/logs</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>
        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>100000</session_timeout_ms>
            <raft_logs_level>trace</raft_logs_level>
        </coordination_settings>
        <raft_configuration>
            <secure>true</secure>
            <server>
                <id>1</id>
                <hostname>clickhouse01</hostname>
                <port>9444</port>
            </server>
            <server>
                <id>2</id>
                <hostname>clickhouse02</hostname>
                <port>9444</port>
            </server>
            <server>
                <id>3</id>
                <hostname>clickhouse03</hostname>
                <port>9444</port>
            </server>
            <server>
                <id>4</id>
                <hostname>clickhouse04</hostname>
                <port>9444</port>
            </server>
        </raft_configuration>
    </keeper_server>
    <remote_servers>
        <cluster_2S_2R>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse01</host>
                    <port>9440</port>
                    <secure>1</secure>
                </replica>
                <replica>
                    <host>clickhouse02</host>
                    <port>9440</port>
                    <secure>1</secure>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse03</host>
                    <port>9440</port>
                    <secure>1</secure>
                </replica>
                <replica>
                    <host>clickhouse04</host>
                    <port>9440</port>
                    <secure>1</secure>
                </replica>
            </shard>
        </cluster_2S_2R>
    </remote_servers>
    <zookeeper>
        <node>
            <host>clickhouse01</host>
            <port>9281</port>
            <secure>1</secure>
        </node>
        <node>
            <host>clickhouse02</host>
            <port>9281</port>
            <secure>1</secure>
        </node>
        <node>
            <host>clickhouse03</host>
            <port>9281</port>
            <secure>1</secure>
        </node>
        <node>
            <host>clickhouse04</host>
            <port>9281</port>
            <secure>1</secure>
        </node>
    </zookeeper>
    <macros>
        <shard>0${shard_id}</shard>
        <replica>0${replica_id}</replica>
    </macros>
    <openSSL>
      <server>
          <certificateFile>/etc/clickhouse-server/certs/clickhouse0${node}.crt</certificateFile>
          <privateKeyFile>/etc/clickhouse-server/certs/clickhouse0${node}.key</privateKeyFile>
          <verificationMode>relaxed</verificationMode>
          <caConfig>/etc/clickhouse-server/certs/ca.crt</caConfig>
          <cacheSessions>true</cacheSessions>
          <disableProtocols>sslv2,sslv3</disableProtocols>
          <preferServerCiphers>true</preferServerCiphers>
      </server>
      <client>
          <loadDefaultCAFile>false</loadDefaultCAFile>
          <caConfig>/etc/clickhouse-server/certs/ca.crt</caConfig>
          <cacheSessions>true</cacheSessions>
          <disableProtocols>sslv2,sslv3</disableProtocols>
          <preferServerCiphers>true</preferServerCiphers>
          <verificationMode>none</verificationMode>
          <invalidCertificateHandler>
              <name>RejectCertificateHandler</name>
          </invalidCertificateHandler>
      </client>
    </openSSL>
    <grpc>
        <enable_ssl>1</enable_ssl>
        <ssl_cert_file>/etc/clickhouse-server/certs/clickhouse0${node}.crt</ssl_cert_file>
        <ssl_key_file>/etc/clickhouse-server/certs/clickhouse0${node}.key</ssl_key_file>
        <ssl_require_client_auth>true</ssl_require_client_auth>
        <ssl_ca_cert_file>/etc/clickhouse-server/certs/ca.crt</ssl_ca_cert_file>
        <transport_compression_type>none</transport_compression_type>
        <transport_compression_level>0</transport_compression_level>
        <max_send_message_size>-1</max_send_message_size>
        <max_receive_message_size>-1</max_receive_message_size>
        <verbose_logs>false</verbose_logs>
    </grpc>
</clickhouse>
