<clickhouse replace="true">
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>

    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
    <users_config>users.xml</users_config>

    <display_name>clickhouse0$node</display_name>
    <listen_host remove="remove">::</listen_host>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <mysql_port remove="remove">9004</mysql_port>
    <tcp_port>9000</tcp_port>
    <interserver_http_host>clickhouse0$node</interserver_http_host>
    <interserver_http_port>9009</interserver_http_port>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
    <zookeeper>
        <node>
            <host>keeper01</host>
            <port>9181</port>
        </node>
        <node>
            <host>keeper02</host>
            <port>9181</port>
        </node>
        <node>
            <host>keeper03</host>
            <port>9181</port>
        </node>
    </zookeeper>
    <s3queue_log>
        <database>system</database>
        <table>s3queue_log</table>
    </s3queue_log>
    <openSSL remove="remove"/>
    <storage_configuration>
        <disks>
          <s3_disk>
            <type>s3</type>
            <endpoint>http://minio:8000/mys3bucket//</endpoint>
            <access_key_id>minio</access_key_id>
            <secret_access_key>minio123</secret_access_key>
            <region></region>
            <metadata_path>/var/lib/clickhouse/disks/s3_disk/</metadata_path>
          </s3_disk>
          <s3_cache>
            <type>cache</type>
            <disk>s3_disk</disk>
            <path>/var/lib/clickhouse/disks/s3_cache/</path>
            <max_size>1Gi</max_size>
          </s3_cache>
        </disks>
        <policies>
          <s3_main>
            <volumes>
              <main>
                <disk>s3_disk</disk>
              </main>
            </volumes>
          </s3_main>
        </policies>
  </storage_configuration>
</clickhouse>
